@charset "utf-8";

/*
컨트롤 패널부
*/
.tcp-on .tcp-controls{
  display: block;
}
.tcp-controls{
  display: none;
  height:0;width:0;
  pointer-events: none;
}
.tcp-control{
  width:100px;
  height:100px;
  position: fixed;
  top:100px;
  left:100px;
  z-index: 10;
  display: flex;
  align-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  font-size:14px;
  opacity: 0.5;
}
.tcp-control.tcp-cell{
  z-index: 12;
}
.tcp-control:hover{
  z-index: 19;
  opacity: 1;
}
.tcp-control.tcp-row{
  flex-direction: column;
}
.tcp-panel{
  overflow: visible;
  
  
  justify-content: space-between;
  flex-wrap: nowrap;
}
.tcp-row > .tcp-panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 3em;
  z-index: 10;
  margin-left: -1.5em;
}
.tcp-col > .tcp-panel{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 3em;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: -1.5em;
}
.tcp-control.tcp-cell{
  justify-content: center;
  align-items: center;
}

.tcp-cell > .tcp-panel{
  z-index: 10;
  /* margin-top: -1.5em; */
  display: grid;
  width:100%;
  height:100%;
  min-height:3.6em;
  grid-template-areas: ". up ." "left . right" ". down split";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 0.2em; */
}


.tcp-control .tcp-deco{
  outline: 2px solid rgb(75, 207, 119);
  width:100%;height:100%;
  box-sizing: border-box;
  position: absolute;
  left:0;top:0;
}
.tcp-btn{
  z-index: 10;
  pointer-events: all;
  width:1.2em;
  height:1.2em;  
  border: 1px solid #999;
  line-height: 2em;
  padding: 0;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:#999;
}
.tcp-panel > .tcp-btn-insertRow-0{
  margin-top:-0.6em;
}
.tcp-panel > .tcp-btn-insertRow-1{
  margin-bottom:-0.6em;
}
.tcp-panel > .tcp-btn-insertCell-0{
  margin-left:-0.6em;
}
.tcp-panel > .tcp-btn-insertCell-1{
  margin-right:-0.6em;
}

.tcp-btn-insertRow-0::before ,
.tcp-btn-insertRow-1::before ,
.tcp-btn-insertCell-0::before ,
.tcp-btn-insertCell-1::before ,
.tcp-btn-merge-left::before,
.tcp-btn-merge-up::before,
.tcp-btn-merge-right::before,
.tcp-btn-merge-down::before
{
  content: "➕";
}
.tcp-btn-deleteRow::before ,
.tcp-btn-deleteCell::before
{
  content: "➖";
}

.tcp-panel > .tcp-btn-insertCell-0:hover  ~ .tcp-deco{
  left:-1px;
  width:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}
.tcp-panel > .tcp-btn-deleteCell:hover  ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}
.tcp-panel > .tcp-btn-insertCell-1:hover  ~ .tcp-deco{
  left:auto;
  right:-1px;
  width:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}

.tcp-panel > .tcp-btn-insertRow-0:hover  ~ .tcp-deco{
  top:-1px;
  height:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}
.tcp-panel > .tcp-btn-deleteRow:hover  ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}
.tcp-panel > .tcp-btn-insertRow-1:hover  ~ .tcp-deco{
  top:auto;
  bottom:-1px;
  height:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}

.tcp-cell > .tcp-panel > .tcp-btn:hover ~ .tcp-deco{
  outline-color: rgb(83, 202, 129);
  background-color: rgba(83, 202, 129,0.5);
}
.tcp-cell > .tcp-panel > .tcp-btn.tcp-btn-split:hover ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}



.tcp-btn-merge-left{
  place-self:center flex-start;
  grid-area: left;
  margin-left:-0.6em;
}
.tcp-btn-merge-up{
  place-self:flex-start center;
  grid-area: up;
  margin-top:-0.6em;
}
.tcp-btn-merge-right{
  place-self:center flex-end;
  grid-area: right;
  margin-right:-0.6em;

}
.tcp-btn-merge-down{
  place-self:flex-end center;
  grid-area: down;
  margin-bottom:-0.6em;
}
.tcp-btn-split{
  grid-area: split;
  place-self:flex-end flex-end;
  margin-right:-0.6em;
  margin-bottom:-0.6em;
}

.tcp-btn-merge-left::before{
  content: "⏪";
}
.tcp-btn-merge-up::before{
  content: "⏫";
}
.tcp-btn-merge-right::before{
  content: "⏩";
}
.tcp-btn-merge-down::before{
  content: "⏬";
}
.tcp-btn-split::before{
  content: "✳️";
}

.tcp-controls[data-cell-rpos="first"] .tcp-btn-merge-up ,
.tcp-controls[data-cell-rpos="last"] .tcp-btn-merge-down ,
.tcp-controls[data-cell-cpos="first"] .tcp-btn-merge-left ,
.tcp-controls[data-cell-cpos="last"] .tcp-btn-merge-right ,
.tcp-controls[data-cell-merged=""] .tcp-btn-split {
  display: none;
}