@charset "utf-8";

/*
컨트롤 패널부
*/
.tcp-on .tcp-controls{
  display: block;
}
.tcp-controls{
  display: none;
  height:0;width:0;
  pointer-events: none;
}
.tcp-control{
  width:100px;
  height:100px;
  position: fixed;
  top:100px;
  left:100px;
  z-index: 10;
  display: flex;
  align-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  justify-content: center;
  font-size:14px;
  opacity: 0.3;
}
.tcp-control.tcp-cell{
  z-index: 12;
}
.tcp-control:hover{
  z-index: 19;
  opacity: 1;
}
.tcp-control.tcp-row{
  flex-direction: column;
}
.tcp-panel{
  overflow: visible;
  
  
  justify-content: space-between;
  flex-wrap: nowrap;
}
.tcp-row > .tcp-panel{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 3em;
  z-index: 10;
  margin-left: -1.5em;
}
.tcp-col > .tcp-panel{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 3em;
  flex-wrap: wrap;
  z-index: 10;
  margin-top: -1.5em;
}
.tcp-control.tcp-cell{
  justify-content: center;
  align-items: center;
}

.tcp-cell > .tcp-panel{
  z-index: 10;
  /* margin-top: -1.5em; */
  display: grid;
  width:100%;
  height:100%;
  min-height:2.4em;
  min-width:2.4em;
  grid-template-areas: ". up split" "left . right" ". down resize";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* gap: 0.2em; */
}


.tcp-control .tcp-deco{
  outline: 2px solid rgb(75, 207, 119);
  width:100%;height:100%;
  box-sizing: border-box;
  position: absolute;
  left:0;top:0;
}
.tcp-control.tcp-cell .tcp-deco{
  outline: 2px solid rgb(53, 121, 224);
}
.tcp-btn{
  z-index: 10;
  pointer-events: all;
  width:1.2em;
  height:1.2em;  
  border: 1px solid #999;
  line-height: 2em;
  padding: 0;
  border-radius: 0.2em;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-color: #fff;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
  color:#999;
}
.tcp-btn::before ,
.tcp-btn::after{
  display: block;
  font-size:0.8em;
  margin:0 auto;
}

.tcp-panel > .tcp-btn-insertRow-0{
  margin-top:-0.6em;
}
.tcp-panel > .tcp-btn-insertRow-1{
  margin-bottom:-0.6em;
}
.tcp-panel > .tcp-btn-insertCell-0{
  margin-left:-0.6em;
}
.tcp-panel > .tcp-btn-insertCell-1{
  margin-right:-0.6em;
}



.tcp-panel > .tcp-btn-insertCell-0:hover  ~ .tcp-deco{
  left:-1px;
  width:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}
.tcp-panel > .tcp-btn-deleteCell:hover  ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}
.tcp-panel > .tcp-btn-insertCell-1:hover  ~ .tcp-deco{
  left:auto;
  right:-1px;
  width:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}

.tcp-panel > .tcp-btn-insertRow-0:hover  ~ .tcp-deco{
  top:-1px;
  height:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}
.tcp-panel > .tcp-btn-deleteRow:hover  ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}
.tcp-panel > .tcp-btn-insertRow-1:hover  ~ .tcp-deco{
  top:auto;
  bottom:-1px;
  height:1px;
  outline-color: rgb(0, 26, 255);
  background-color: rgb(0, 26, 255);
}

.tcp-cell > .tcp-panel > .tcp-btn:hover ~ .tcp-deco{
  outline-color: rgb(83, 202, 129);
  background-color: rgba(83, 202, 129,0.5);
}
.tcp-cell > .tcp-panel > .tcp-btn.tcp-btn-split:hover ~ .tcp-deco{
  outline-color: rgb(202, 83, 83);
  background-color: rgba(202, 83, 83,0.5);
}
.tcp-cell > .tcp-panel > .tcp-btn.tcp-btn-resize:hover ~ .tcp-deco{
  outline-color: rgb(53, 121, 224);
  background-color: rgba(53, 121, 224,0.5);
}




.tcp-btn-merge-left{
  place-self:center flex-start;
  grid-area: left;
  margin-left:-0.6em;
}
.tcp-btn-merge-up{
  place-self:flex-start center;
  grid-area: up;
  margin-top:-0.6em;
}
.tcp-btn-merge-right{
  place-self:center flex-end;
  grid-area: right;
  margin-right:-0.6em;

}
.tcp-btn-merge-down{
  place-self:flex-end center;
  grid-area: down;
  margin-bottom:-0.6em;
}
.tcp-btn-split{
  grid-area: split;
  place-self:flex-start flex-end;
  margin-right:-0.6em;
  margin-top:-0.6em;
}
.tcp-btn-resize{
  grid-area: resize;
  place-self:flex-end flex-end;
  margin-right:-0.6em;
  margin-bottom:-0.6em;
  cursor: nw-resize;
}




.tcp-controls[data-cell-rpos="first"] .tcp-btn-merge-up ,
.tcp-controls[data-cell-rpos="last"] .tcp-btn-merge-down ,
.tcp-controls[data-cell-cpos="first"] .tcp-btn-merge-left ,
.tcp-controls[data-cell-cpos="last"] .tcp-btn-merge-right ,
.tcp-controls[data-cell-merged=""] .tcp-btn-split {
  display: none;
}


/* 버튼 속 아이콘 */

.tcp-btn-insertRow-0::before ,
.tcp-btn-insertRow-1::before ,
.tcp-btn-insertCell-0::before ,
.tcp-btn-insertCell-1::before 
{
  content:"";
  width:1em;height:0.2em;
  background-color: #000000;
  margin-top: 0.5em;
}
.tcp-btn-insertRow-0::after ,
.tcp-btn-insertRow-1::after ,
.tcp-btn-insertCell-0::after ,
.tcp-btn-insertCell-1::after 
{
  content:"";
  width:0.2em;height:1em;
  background-color: #000000;
  margin-top: -0.6em;
}
.tcp-btn-deleteRow::before ,
.tcp-btn-deleteCell::before
{
  content:"";
  width:1em;height:0.6em;
  border-bottom: 0.2em solid #000000;
  margin-bottom:0.4em;
}

.tcp-btn-merge-left::before{
  content:"";
  width:0px;height:0px;
  border-right:0.8em solid #000;
  border-top:0.4em solid transparent;
  border-bottom:0.4em solid transparent;
}
.tcp-btn-merge-up::before{
  content:"";
  width:0px;height:0px;
  border-bottom:0.8em solid #000;
  border-left:0.4em solid transparent;
  border-right:0.4em solid transparent;
}
.tcp-btn-merge-right::before{
  content:"";
  width:0px;height:0px;
  border-left:0.8em solid #000;
  border-top:0.4em solid transparent;
  border-bottom:0.4em solid transparent;
}
.tcp-btn-merge-down::before{
  content:"";
  width:0px;height:0px;
  border-top:0.8em solid #000;
  border-left:0.4em solid transparent;
  border-right:0.4em solid transparent;
  
}
.tcp-btn-split::before{
  content:"";
  /* font-size: 0.6em; */
  width:1em;height:1em;
  border:2px solid #000000;
}
.tcp-btn-split::after{
  content:"";
  /* font-size: 0.6em; */
  width:1px;height:1em;
  border-left:1px dotted #000000;
  margin-top:-1em;
}
.tcp-btn-resize::before{
  content:"";
  font-size: 0.6em;
  width:0px;height:0px;
  border-top:1em solid #000;
  border-right:1em solid transparent;
  /* margin: 0 auto -0.2em auto; */
}
.tcp-btn-resize::after{
  content:"";
  font-size: 0.6em;
  width:0px;height:0px;
  border-bottom:1em solid #000;
  border-left:1em solid transparent;
  margin-top: -0.9em;
  margin-left: 0.5em;
}